*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #fff;
}
html {
  font-size: 16px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #000;
}
.calculator {
  display: grid;
  grid: auto repeat(5, 7.5rem) / repeat(4, 7.5rem);
  gap: 0.125rem;
  margin: 2rem;
  border: 2px solid #fff;
  background: #fff;
}
.calculator .result {
  grid-column: span 4;
  overflow: hidden;
  background: orangered;
}
.calculator .result .screen {
  min-height: 7.5rem;
  padding: 1.9rem 1.25rem;
  font-size: 4.5rem;
  text-align: right;
  line-height: 0.75;
}
.calculator .result .error {
  min-width: calc(30rem - 4px);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  letter-spacing: -0.05rem;
}
.calculator .zero,
.calculator .equal {
  grid-column: span 2;
}
.calculator > input {
  border: none;
  outline: none;
  font-size: 3rem;
  background: #0000dd;
}
.calculator > input:active {
  filter: brightness(0.8);
}
.calculator > input:nth-child(4n + 1),
.calculator > input:nth-child(16) {
  background: darkblue;
}
.calculator > input:nth-child(1n + 17) {
  background: orangered;
}
.author {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 1.5625rem 2rem 1.5625rem;
  font-weight: bold;
}
.author p {
  padding: 0 0.4375rem;
}
.author p:nth-child(1) {
  font-size: 1.4375rem;
  color: #aaa;
}
.author p:nth-child(2) {
  font-size: 1.625rem;
  text-decoration: underline;
  color: #aaa;
}

@media (max-height: 55rem) and (min-width: 35rem) {
  body {
    height: auto;
  }
}

@media (max-width: 35rem) {
  .calculator {
    grid: auto repeat(5, 6.25rem) / repeat(4, 6.25rem);
  }
  .calculator .result .screen {
    min-height: 6.5rem;
    font-size: 3.5rem;
  }
  .calculator .result .error {
    min-width: calc(25rem - 4px);
    line-height: 1;
  }
  .calculator > input {
    font-size: 2.5rem;
  }
  .author p:nth-child(1) {
    font-size: 1.25rem;
  }
  .author p:nth-child(2) {
    font-size: 1.4375rem;
  }
}

@media (max-height: 47.5rem) and (min-width: 30rem) {
  body {
    height: auto;
  }
}

@media (max-width: 30rem) {
  .calculator {
    grid: auto repeat(5, 5rem) / repeat(4, 5rem);
  }
  .calculator .result .screen {
    min-height: 5.875rem;
    font-size: 2.75rem;
  }
  .calculator .result .error {
    min-width: calc(20rem - 4px);
    line-height: 1;
  }
  .calculator > input {
    font-size: 2rem;
  }
  .author p:nth-child(1) {
    font-size: 1rem;
  }
  .author p:nth-child(2) {
    font-size: 1.1875rem;
  }
}

@media (max-height: 40rem) and (min-width: 25rem) {
  body {
    height: auto;
  }
}

@media (max-width: 25rem) {
  .calculator {
    grid: auto repeat(5, 3.75rem) / repeat(4, 3.75rem);
    margin: 1.25rem;
  }
  .calculator .result .screen {
    min-height: 5.25rem;
    font-size: 2rem;
  }
  .calculator .result .error {
    min-width: calc(15rem - 4px);
    line-height: 1;
  }
  .calculator > input {
    font-size: 1.25rem;
  }
}

@media (max-height: 32.5rem) and (max-width: 25rem) {
  body {
    height: auto;
  }
}
