*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Consolas", "Courier New", Courier, monospace;
  font-weight: bold;
  color: #fff;
}
html {
  font-size: 16px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #000;
}
.calculadora {
  display: grid;
  grid: auto repeat(5, 7.5rem) / repeat(4, 7.5rem);
  gap: 0.125rem;
  border: 2px solid #fff;
  background: #fff;
}
.calculadora .resultado {
  grid-column: span 4;
  background: orangered;
  overflow: hidden;
}
.calculadora .resultado .visor {
  min-height: 7.5rem;
  padding: 1.9rem 1.25rem;
  font-size: 5rem;
  text-align: right;
  line-height: 0.75;
  word-break: break-all;
}
.calculadora .resultado .erro {
  min-width: calc(30rem - 4px);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  letter-spacing: -0.05rem;
}
.calculadora .zero,
.calculadora .igual {
  grid-column: span 2;
}
.calculadora > input {
  border: none;
  outline: none;
  font-size: 3rem;
  background: #0000dd;
}
.calculadora > input:active {
  filter: brightness(0.8);
}
.calculadora > input:nth-child(4n + 1),
.calculadora > input:nth-child(16) {
  background: darkblue;
}
.calculadora > input:nth-child(1n + 17) {
  background: orangered;
}
.autor {
  margin-top: 2rem;
  font-weight: bold;
}
.autor p {
  font-size: 1.6875rem;
  color: #777;
}
.autor p span {
  font-size: 1.9375rem;
  text-decoration: underline;
  color: #777;
}
